/**
 * FormField Styles
 */

.form-field {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.form-field-label {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  color: var(--color-text-secondary);
}

.form-field-required {
  color: var(--color-error);
  margin-left: 2px;
}

.form-field-error {
  font-size: var(--font-size-small);
  color: var(--color-error);
}
